<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partials/styling') %>
  </head>
  <body>
    <h1>This page contains all images from database</h1>
    <div class="images">
      <% for (let i =1; i<=10; i++){ %>
      <div class="image">
        <img src="/images/<%= i %>.jpg" alt="" width="100px" />
      </div>
      <% } %>
    </div>

    <%- include('partials/navbar') %>
  </body>
</html>
