<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partials/styling') %>
  </head>
  <body>
    <h1>This page will upload the image from user</h1>
    <div class="upload">
      <input type="text" />
      <button>upload</button>
    </div>
    <%- include('partials/navbar') %>
  </body>
</html>
